@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    background-color: black;
    color: white;
}
.text-about h2{
    color: #ffffff;
    font-family: "Prompt", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 3.9em;
    letter-spacing: 3.1px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
}
.font1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 0.3s;
}
.font1 :hover{
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 0.3s;
}
section{
    margin-bottom: 7%;
    overflow: hidden;
}
/* indexbg */
.box-in {
    height: 620px;
    position: relative;
    background: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 10%;
}

.box-in2 {
    height: 620px;
    position: relative;
    background: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}
.news-in{
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    color: #fff;
}
.news-in:hover{
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    color: #fff;
}

.bi-heart{
    color: white;
    transition: 0.3s;
}
.bi-heart:hover{
    color: #fd5015;
}
#txt-in{                              /*---------textคำว่า about--------------*/
    font-size: 80px;
    font-family: "Bebas Neue", Sans-serif;
    letter-spacing: 5px;
    
}
#txt-shop{                              /*---------textคำว่า shop---------------*/
    font-size: 60px;
    font-family: "Bebas Neue", Sans-serif;
    letter-spacing: 5px;
    
}
#txt-inpara{                              /*---------textคำว่า para about---------------*/
    font-size: 16px;
    font-family: "Prompt", Sans-serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 23px;
    
}
.detail{
    
    text-align: center;
    background-color: white;
    width: 100%;
    position: relative;
    z-index: 1;
}
.detail2{
    width: 100%;
}
ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }
.slick-dots li.slick-active button::before{
    content: "-";
    color: #fd5015;
    opacity: 1;
}

.slick-dots li button::before{
    content: "-";
    font-weight: 300;
    font-size: 60px;
    color: #424242;
    opacity: 1;
}
.sec5{
    padding-bottom: 50px;
    background-size: 650px;
    background-image: url(../img/bg-3.png);
    background-repeat: no-repeat;
    background-position-x: -10%;
    background-position-y: 60%;
}

.sec3{
    padding-bottom: 0px;
    background-size: 650px;
    background-image: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-position-x: 140%;
    background-position-y: 100%;
}
.sec4{
    padding-bottom: 30px;
    background-size: 650px;
    background-image: url(../img/bg-2.png);
    background-repeat: no-repeat;
    background-position-x: -15%;
    background-position-y: -50%;
}
.sec2{
    padding-bottom: 350px;
    background-size: 650px;
    background-image: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 40%;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: initial;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 700px;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

.line-orange {
    background: linear-gradient(to right, #fd5015, black);
    width: 340px;
  height: 5px;

  display:inline-block;
  }

  .line-orange2 {
    background: linear-gradient(to left, #fd5015, black);
    width: 380px;
  height: 5px;
  display:inline-block;
  position: absolute;
  }
  .line-white {
    background: white;
    width: 100%;
  height: 1px;

  display:inline-block;
  }

.btn_read {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: 550;
    padding: 1.3em;
    color: white;
    border: 2px solid white;
    letter-spacing: 1.5px;
    transition: 0.3s;
}

.btn_read:hover{
    border: 2px solid #fd5015;
    color: white;
}

.navbar-nav > .active > a {
    color: #fd5015;
    text-decoration: underline;
    transition: 0.5s;
  }
  .nav-item > a:hover {
    color: #fd5015;
    text-decoration: underline;
  }

.navbar-brand img{
    max-height: 50px;
    width: auto;
}
img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.text-center{                       /*---------textคำว่า PARTNERS---------------*/
    font-family: 'Bebas Neue', cursive;
}
.backhome{                          /*---------textคำว่า HOMEหน้าpartners---------------*/
    font-family: 'Arial';
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.home{                              /*---------จัดhomeให้อยู่center---------------*/
    text-align: center;
    font-family: 'Arial';
    font-size: 13px;
}
.imgpartner{                        /*---------css รูปpartner---------------*/
    border: 1px solid white;
    /* float: center; */
    max-width:100%;
    height: auto;
    /* align-items: left; */
   /* height:250px; */
}
#thaiawesome{
    width: 300px;
    /* height: 100%; */
}
#txt1{                              /*---------textคำว่า PARTNERS---------------*/
    font-size: 80px;
}
#txt2{                              /*---------textคำว่า PARTNERS---------------*/
    font-size: 60px;
    font-family: "Bebas Neue", Sans-serif;
    letter-spacing: 5px;
}
#txt3{                              /*---------textคำว่า PARTNERS---------------*/
    font-size: 13px;
}
.dot{                               /*---------  .  ที่อยู่หลังคำว่าpartner---------------*/
    color: #FF521B;
}
.box {                               /*---------กล่องที่ครอบpartnerกับข้อความ---------------*/
    display: grid;
    grid-template-columns:auto auto;
    margin: 10px 0px 10px 50px;
    grid-gap: 20px;
    width: 45vw;
    margin-top: 10px;

}
.overx{
    overflow-x: hidden;
}
@media screen and (max-width:1024px) {

    .box {
        grid-template-columns: auto;
    }
    footer, .res-left{
        text-align: left;
    }
}
@media screen and (max-width:767px) {

    .box {
        grid-template-columns: auto;
    }
    footer, .res-left{
        text-align: left;
    }

}
#res-left{
    text-align: center;
}

#side{                                       /*--------- จัดให้ข้อความอยู่ทางขวาของรูป---------------*/
    font-weight: 400;
    font-size: 13px;
    font-family: "Prompt", Sans-serif;
}

.bigger{                                     /*--------- จัดหัวเรื่องข้อความให้ขนาดใหญ่กว่ารายละเอียด---------------*/
    font-family: "Bebas Neue", Sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.logo2{                                      /*--------- logo fullfense ตรงfooter---------------*/
    width: 58px;
    height: 63px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.opacity{                                   /*-------------ลดopacity '>'--------------------*/
    color: rgba(220, 224, 228, 0.8);
}
.white{                                      /*--------- จัดให้ข้อความในtag a ให้เป็นสีขาว---------------*/
    color: white;
}
.facebook{                                    /*--------- logo facebookตรงFOOTER---------------*/
    font-size: 15px;
    transform: translateY(-13%);
}
.hi{
    line-height: 2;
}
.botom{
    margin-bottom: 25px;
}
.botop{
    margin-top: 100px;
}
.page-footer{                                /*--------- จัดCSS ตรงส่วนfooter---------------*/
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-bottom: 30px;
}
.pad-left{
    padding-left:20px;
}

/* ----------------------------------------------เริ่มcssหน้า Contact us------------------------ */
.contact{                               /*--------- จัดตัวอักษร ตรงส่วนcontact---------------*/
    font-family: "Prompt", Sans-serif;
    font-size: 13px;
}
.partner-font{
    font-family: "Prompt", Sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.font2{
    font-family: 'Arial';
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
}
.login-form.box-right {
    background:#000000;;
}
.login-form input[type="text"],.login-form input[type="email"],.login-form input[type="password"] {         /*--------- จัดFORM---------------*/
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: .6em 1em;
    margin: 0;
    width: 100%;
    border: 1px solid #fff;
    -webkit-appearance: none;
    display: block;
    background: transparent;
	font-family: 'Arial';
    text-align: left;
}
.required {                             /*--------- จัด'*' ตรงส่วนlabel---------------*/
    color: red;
  }
#button{                                /*--------- จัดปุ่มbutton "SEND"---------------*/
    background-color:#FF521B;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;

}
.label{
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
}
.txt4{                              /*--------- จัดหัวข้อหน้าcontact---------------*/
    font-family: "Bebas Neue", Sans-serif;
    font-size: 30px;
    text-align: left;
}
.txtemail{
    font-family: "Prompt", Sans-serif;
    font-weight: 600;
    font-size: 13px;
}
#letter{
    border: 1px solid white;
    padding: 10px 15px 15px 17px;
    font-size: 25px;
    display: block;

    width: 60px;
    height: 60px;
    margin-top: 28px;
}
.left{
    text-align: left;
}
/* News--------------------------------------------- */
.page-title{
    background: url(../img/bg-left.png) right -122px no-repeat, url(../img/bg-right.png) left -122px no-repeat;
    padding-top: 60px;
    padding-bottom: 170px;
}
.container{
    text-align: center;
}
.posts{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin: 10px;
}
.blog{
    font-family: 'Arial';
    font-size: 13px;
}
.blog .home{
    color: #fff;
}
.content{
    margin: 15px;
    padding-bottom: 60px;
}
.news1{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: #fff;
}
.news1:link{
    color: #fff;
    text-decoration: none;
}
.uncate{
    font-family: 'Arial';
    font-size: 11px;
    color:#fff;
}
.page-footer .white p, a{
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.page-footer .white p, a:hover {
    color: #dd0000;
    text-decoration: none;
}
.poly{
    padding: 15px 90px 15px 20px;
    position: absolute;
    top: 19.85em;
    /* bottom: 0px; */
    left: 1.2em;
    right: auto;
    clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
    background: linear-gradient(275.37deg, rgba(0, 0, 0, 0.39) 0%, #FF521B 98.91%);
}
time.updated{
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    padding-left: 15px;
    line-height: 27px;
    display: inline-block;
    border-left: 2px solid #0a0a0a;
    color: #fff;
}
.day:after{
    content: "";
    margin: 0 8px;
    width: 13px;
    height: 1px;
    display: inline-block;
    background: #c7c7c7;
    vertical-align: middle;
}

/* teams------------------------------------------------------------------------------------ */
#teams{
    font-family: 'Arial';
    font-size: 13px;
}
#teams .home{
    color: #fff;
}
.banner-wrapper-infor {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-right: 30px;
}
.banner-wrapper-infor .info{
    background: linear-gradient(275.37deg, rgba(0, 0, 0, 0.39) 0%, #FF521B 98.91%);
    clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
    max-width: 410px;
    padding: 20px 40px;
}
h3{
    margin: 0px 0px 0px;
}
.info{
    margin: 0;
    font-size: 32px;
    /* text-transform: uppercase; */
    color: #fff;

    font-family: Bebas Neue,cursive;
    font-weight: 500;
    line-height: 1.2;

    margin-block-start: 1em;
    margin-block-end: 4.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.info span{
    font-family: Arial;
    font-size: 13px;
    margin-top: 0px;
}
/* news-1------------------------------------------------------------------------------------------------------- */
.img-title{
    padding: 35vw;
    max-width: 100vw;
    /* margin: auto; */
    background: url(../img/news1.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.img-news2{
    text-align: center;
}
.txt-news2{
    max-width: 70vw;
    text-align: left;
    margin: auto;
    font-family: Arial;
    font-size: 14px;
    color:#9b9b9b;
    padding: 1em;
}
.i-social{
    color: #fff;
    font-size: 14px;
    font-family: Arial;
}
.i-social img{
    padding: 5px;
    max-width:30px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 5px;
    margin-bottom: 1em;
}
.i-social img:hover{
    border: 1px solid #000;
}
.i-social2{
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    letter-spacing: 8px;
    margin-left: 1.5em;
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-pinterest{
    color: #fff;
}
.fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-pinterest:hover {
    color: #FF521B;
}
.txt-news2 hr{
    background-color: #fff;
}

.txt-news2 .avatar{
    float: left;
    margin: 0em 1em 1em 0em;
}

.txt-news2 .reply{
    float: right;
    margin: 0em 0em 0em 0em;
}

.txt-news2 button{
    background-color: #fff;
    color: #000;
    padding: 1em;
    margin-top: 2em;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
    border: 0;
}
.txt-news2 button:hover{
    color: #fff;
    background-color: #000;
}
.comment{
    padding-bottom: 1em;
}
.comment h3, h4{
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    margin: 1em;
    color: #fff;
    text-align: center;
}
.comment span{
    font-family:"Bebas Neue", cursive;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
.comment p{
    font-family: arial;
    font-size: 13px;
}
.leave{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#textspace{
    font-family:"Bebas Neue", Sans-serif;
    font-size: 100px;
    letter-spacing: 2px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width:2px;
}

/* team */
.teambox {

    border: solid 2px #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: "Prompt", Sans-serif;
    color: #fff;
    /* text-decoration: none; */
}

.teambox:hover {
    border :solid 2px #ff3535;
}

a.team:hover{
    text-decoration: none;
}
/* ---------------shop------------------------- */
#shop-box{
    max-width: 95vw;
}
#shop-page{
    padding-bottom: 3em;
}

.column{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 1.5px;
    margin-left: 2px;
}
.column:hover{
    background-color: #FF521B;
}

#row-box{
    margin-bottom: 2px;
}

.list-icon{
    font-size: 25px;
}
/* #col-bt{
    padding: 0.75em 0em 0em 1em;
} */

#col-bt-bt{
    padding: 0.5em 0em 0em 1em;
}
#bg-img1{
    background-color:white;
    background-size: cover;
    max-width: 100%;
    height: auto;
    /* padding: 1em; */
    /* padding-left:0; */
    /* background-size: 495px 600px; */
}
#bg-img2/*bg-product*/{
    background-color:white;
    max-width: 100%;
    height: auto;
}
#bg-img3{
    background-color:white;
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding: 50px 0px 50px 0px;
}
#bg-img4{
    background-color:white;
    background-size: cover;
    max-width: 100%;
    height: auto;
    /* padding-bottom: 10px; */
    /* padding: 50px; */
    /* padding: 150px -50px 50px 0px; */
    /* margin-left:13px;
    margin-right:13px; */
}
/* -----------shop-2--------------------------------- */
#imgpro1{
    background-color: white;
    width: 45vw;
    height: 45vw;
    padding: 1em;
    text-align: center;
    /* display: inline-block; */
}
.pic .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.pic:hover .img-top{
    display: inline;
}
.pic2 {
    max-width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
.pic2 .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.pic2:hover .img-top {
    display: inline;
}
#imgpro2{
    background-color: white;
    width: 50vw;
    height: 45vw;
    padding: 1em;
    text-align: center;
}
.txt-imgpro{
    max-width: 45vw;
    padding: 1em 1em 1em 0em;
    color:#fff;
}
.no-pad{
    padding-bottom: -20px;
}
#padding-r{
    padding: 0em 1em 0em 0em;
}
.frames{
    border:10px solid white;
}
.frames2{
    border:25px solid white;
    padding-bottom: 24.6px;
}
.frames3{
    border:20px solid white;
    padding-bottom: 24.6px;
    padding-top: 25px;
}
.frames4{
    border:25px solid white;
    padding-bottom: 23.6px;
}
.frames5{
    border:25px solid white;
    /* padding-bottom: 8px; */
}
.frames6{
    border:20px solid white;
    padding-bottom: 33px;
    padding-top: 25px;
}
.frames7{
    border:15px solid white;
    /* width: fit-content; */
/*bg frame in shop product*/
}
.color-full{
    color: #a3a3a3;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    font-size:13px;
}
.text-product{
    text-transform: uppercase;
    font-family: 'Arial';
    font-size:13px;
}
.text-product2{
    font-weight: 700;
    font-family: 'Arial';
    font-size:14px;
}
.color-full:hover, .font-product1:hover, .font-product3:hover, .text-product:hover{
    color:#FF521B;
}
figure {
	height: auto;
    max-width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover {
	bottom: -36px;
	opacity: 1;
}
.hoverpic figure img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}
.hoverpic figure:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.1);
}
.so1 {
    max-width: 100%;
    margin-left: 10px;
    /* width: 130px;
    height: 195px; */
    position: relative;
    display: inline-block;
    /* margin: 50px; */
}
.so1 .img-top {
    display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}
.so1:hover .img-top {
    display: inline;
    /* max-width: 100%;
    margin-left: 10px; */
}
.hover-change-pic figure {
	background-image: url(img/product2.png);
}
.hover-change-pic figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-change-pic figure:hover img {
	opacity: .5;
}
.logo-white{
    filter: contrast(0) brightness(200%);
}
.star-space{
    margin-right: 2px;
    font-size:13px;
}


                                        /* Product in shop */
.line-product{
    width:100%;
    background-color:white;
}
.line-product-shop{
    width:97%;
    background-color:white;
    margin-top: 6%;
    margin-bottom: 4%;
    margin-left: 0%;
}
.font-product1{
    font-size: 20px;
    font-weight: 500;
    font-family: Bebas Neue,cursive;
}
.font-product2{
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.font-product3{
    font-family: Arial;
    font-size: 13px;
}
.font-product4{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
    color: #9b9b9b;
}
.font-product5{
    font-family: Bebas Neue,cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 2px;
    margin-left: -25px;
    color: #fff;
}
.font-product6{
    font-family: Arial;
    font-size: 13px;
    text-align: left;
}
.font-footer{
    font-size: 13px;
    font-family: Roboto,Sans-serif;
}
.img-fill{
    max-width: 50%;
    position: relative;
    display: inline-block;
}
.img-fill .img-top {
    display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}
.img-fill:hover .img-top {
    display: inline;
}

.padding-img1{
    padding-bottom: 15%;
    padding-top: 10%;
}
.padding-img2{
    padding-left: 2%;
}
.padding-text1{
    padding-left: 5%;
    padding-top: 10%;
    line-height: 1.3;
}
.padding-text2{
    padding-top: 55px;
}
.font-product-shop1{
    font-size: 45px;
    font-weight: 500;
    font-family: Bebas Neue,cursive;
}
.font-product-shop2{
    font-family: Bebas Neue,cursive;
    font-size: 30px;
    font-weight: 700;
    color: #FF521B;
    line-height: 0.2;
}
.font-product-shop3{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}
.font-product-shop4{
    font-family: Bebas Neue,cursive;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 6%;
}
.font-product-shop5{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #9b9b9b;
    line-height: 0;
}
.font-product-shop6{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 30px;
    color: #ffffff;
}
.font-product-shop7{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 30px;
    text-align: right;
    color: #ffffff;
}
.font-product-shop8{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.7;
    color: #ffffff;
}
#button2{
    background-color:#ffffff;
    margin-top: 60px;
    color: #000000;
    font-size: 14px;
    height: 4%;
    font-family: Arial;
}
label > input[type="radio"] {
    display: none;
  }
  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: gray;
  }
  label > input[type="radio"]:checked + * {
    color: #fff;
  }
  label > input[type="radio"]:checked + *::before {
    background: radial-gradient(#FF521B 0%, #FF521B 40%, transparent 50%, transparent);
    border-color: #FF521B;
  }

  /* basic layout */
  fieldset {
    margin-left: -16px;
    max-width: 400px;
  }
  label > input[type="radio"] + * {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.button3{
    font-size: 20px;
    padding-top: 20px;
    font-family: Arial;
}
.selection1{
    color: #ffffff;
    background-color: #000;
}
.selection2{
    padding-bottom: 18px;
}
                                                /* END Product in shop */

/* news index */
  
.wrapper a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
.wrapper a span{
    position: relative;
    z-index: 2;
  }
  
.wrapper a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FF521B;
    transition: all .35s;
  }
  
.wrapper a:hover{
    color: #fff;
  }
  
.wrapper a:hover:after{
    width: 100%;
  }

  .imgpartner-index{                        /*---------css รูปpartner---------------*/
    border: 1px solid white;
    text-align: center;
    width: 100%;
    height: 180px;
    /* align-items: left; */
   /* height:250px; */
}

.imgpartner-index img{                        /*---------css รูปpartner---------------*/
    transition: all 0.5s ease;
}

.imgpartner-index img:hover{                        /*---------css รูปpartner---------------*/
    width: 210px;
}
